<div class="row">
	<div class="col-md-12">
		<div class="jumbotron">
			<h2 class="text-center">領班</h2>
			<%= link_to '部門', departments_path, class: 'btn btn-default' %>
			<%= link_to '員工', employees_path, class: 'btn btn-default' %>
			<%= link_to '紙箱', cartons_path, class: 'btn btn-default' %>
			<%= link_to '動作', motions_path, class: 'btn btn-default' %>
			<%= link_to '樣品', samples_path, class: 'btn btn-default' %>
			<%= link_to '日報表', dailyreports_path, class: 'btn btn-default' %>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-6">
		<div class="jumbotron">
			<h2 class="text-center">總經理</h2>
		</div>
	</div>
	<div class="col-md-6">
		<div class="jumbotron">
			<h2 class="text-center">生管</h2>
			<%= link_to '部門', departments_path, class: 'btn btn-default' %>
			<%= link_to '廠商', firms_path, class: 'btn btn-default' %>
			<%= link_to '產品', products_path, class: 'btn btn-default' %>
			<%= link_to '樣品', samples_path, class: 'btn btn-default' %>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-6">
		<div class="jumbotron">
			<h2 class="text-center">會計</h2>
			<%= link_to '廠商', firms_path, class: 'btn btn-default' %>
			<%= link_to '產品', products_path, class: 'btn btn-default' %>
			<%= link_to '紙箱', cartons_path, class: 'btn btn-default' %>
		</div>
	</div>
	<div class="col-md-6">
		<div class="jumbotron">
			<h2 class="text-center">廠長</h2>
			<%= link_to '部門', departments_path, class: 'btn btn-default' %>
			<%= link_to '員工', employees_path, class: 'btn btn-default' %>
			<%= link_to '廠商', firms_path, class: 'btn btn-default' %>
			<%= link_to '產品', products_path, class: 'btn btn-default' %>
			<%= link_to '紙箱', cartons_path, class: 'btn btn-default' %>
			<%= link_to '樣品', samples_path, class: 'btn btn-default' %>
			<%= link_to '批號', batchnumbers_path, class: 'btn btn-default' %>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-6">
		<div class="jumbotron">
			<h2 class="text-center">各部門</h2>
			<%= link_to '動作', motions_path, class: 'btn btn-default' %>
			<%= link_to '日報表', dailyreports_path, class: 'btn btn-default' %>
		</div>
	</div>
	<div class="col-md-6">
		<div class="jumbotron">
			<h2 class="text-center">QC</h2>
			<%= link_to '廠商', firms_path, class: 'btn btn-default' %>
			<%= link_to '產品', products_path, class: 'btn btn-default' %>
			<%= link_to '樣品', samples_path, class: 'btn btn-default' %>
			<%= link_to '批號', batchnumbers_path, class: 'btn btn-default' %>
		</div>
	</div>
</div>
