<table class="table table-hover">
	<thead>
		<tr>
			<th>產品</th>
			<th>批號</th>
			<th>數量</th>
			<th>日期</th>
			<th></th>
		</tr>
	</thead>
	<tbody>

		<% @dailyreports.each do |dailyreport| %>
		<tr>
			<td><%= dailyreport.batchnumber.product.try(:name) %></td>
			<td><%= dailyreport.batchnumber.try(:name) %></td>
			<td><%= dailyreport.amount %></td>
			<td><%= dailyreport.use_date %></td>
			<td>
				<%= link_to '詳細', dailyreport_path(dailyreport), class: 'btn btn-default' %>
				<%= link_to '編輯', edit_dailyreport_path(dailyreport), class: 'btn btn-default' %>
				<%= button_to '刪除', dailyreport_path(dailyreport), method: :delete, data: {confirm: '您確定要刪除 ' + dailyreport.id.to_s + ' ?'}, class: 'btn btn-default' %>
			</td>
		</tr>
		<% end %>

	</tbody>
</table>

<%= link_to '新增', new_dailyreport_path, class: 'btn btn-default' %>