<!DOCTYPE html>
<html>
<head>
	<title>imei</title>
	<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>
<body>

	<div role="root_path">
		<%= link_to 'é¦–é ', root_path, class: 'btn btn-lg btn-default' %>
		<br>
		<br>
	</div>

	<%= yield %>

</body>
</html>
